*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.header-pc{
    height: 100px;

    width: 100%;

    background-color: #09412C; 

    box-shadow: 0px 3px 6px rgb(0, 0, 0);

    position: fixed;

    z-index: 2;
}

.headercontent{
    margin-left: 5%;
    margin-right: 5%;
}


.header-pc img{
    height: 80px;

    margin-top: 10px;
}

main{
    padding-top: 100px;
}

.nav{
    width: 60%;
    margin-top: 38px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    float: right;
}

.nav a{
    text-decoration: none;
    color: white;

    font-size: 15pt;
    font-family: 'Raleway';
    font-weight: 300;
}



.nav a {
    display: inline-block;
    position: relative;
  }
  
  .nav a::after {
    cursor: pointer;
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleY(0);
    height: 4px;
    bottom: -5px;
    left: 0;
    background-color: white;
    border-radius: 1px;
    transition: transform 0.25s ease-out;
  }
  
  .nav a:hover::after {
    transform: scaleY(1);
  }





@media only screen and (max-width: 927px) {
    .header-pc {
        display: none;
    }
    main{
        padding-top: 60px;
    }
    .main-content{
        display: flex;
        flex-direction: column;
    }
    .emballage img{
        max-width: 45%;

        margin-bottom: 40px;
    }

    .emballage{
        display: flex;
        justify-content: center;
    }

    .main-content h2{
        font-size: 14pt;
    }

    .produkt-text{
        min-width: 360px;
    }

 

    .main-content .produkt-text p{
        font-size: 11pt;
    }

    .main-content .produkt-text h2{
        font-size: 17pt;
        margin-top: -100px;
    }

    .navfooter a{
        font-size: 8pt;
        


    }
    .icons{
        scale: 75%;
    }
    .icons img{
        margin-left: 10px;
        margin-right: 10px;
    }

    
    }
    

  

  @media only screen and (min-width: 927px) {
    .header-mobil {
       display: none;
    }
  }


/*Header mobil start*/
.header-mobil img{
    height: 60px;

    margin-top: 10px;
}

.header-mobil{
    height: 80px;

    width: 100%;

    background-color: #09412C; 

    box-shadow: 0px 3px 6px rgb(0, 0, 0);

    position: fixed;

    z-index: 2;
}

.burger{
    float: right;
}

.burger img{
    height: 25px;
    margin-top: 26px;
}
/*Header mobil slut*/



.produkt{
    padding-bottom: 100px;

    background-color: #E6DED3;

}

.slogan h1{
    display: flex;
    justify-content: center;

    padding-top: 40px;

    font-family: 'Bodoni Moda';
    font-weight: 400;
    font-size: 30pt;
}

.emballage img{
    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;

    width: 300px;

    margin-left: 20px;
    margin-right: 20px;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        transform: translateX(-250px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
     }
}

.main-content{
    display: flex;  
    justify-content: space-evenly;

    padding-top: 40px;



}



.main-content h2{
    font-family: 'Bodoni Moda';
    font-weight: 600;
    font-size: 25pt;
    text-align: center;

}

.main-content p{
    font-family: 'Bodoni Moda';
    font-weight: 400;
    font-size: 14pt;
 
    margin-top: 20px;

    text-align: center;
}

.produkt-text{
    margin-top: 50px;
}

.produkt-text div{
    display: flex;
    justify-content: center;
}


.join-button{
    background-color: #09412C;
    border-color: #09412C;
    border-style: solid;
    border-width: 1px;
    color: white;
    padding-top: 20px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.15s,
    color 0.15s;
    padding: 15px 35px;


    margin-top: 40px;

    font-size: 12pt;
    font-family: 'Raleway';
    font-weight: 500;
    
}

.join-button:hover{
    background-color:#E6DED3;
    color: #09412C;

}

.join-button:active{
    opacity: 70%;
}

#produkt-to{
    background-color: #E8D8D8;

    padding-top: 100px;

}



/* HER STARTER FOOTEREN */
footer {
    height: 200px;
    background-color: #09412C;
}

/* Ikonerne i footeren */
.icons {
    display: flex;
    justify-content: space-evenly;

    margin-left: 30%;
    margin-right: 30%;


    padding-top: 30px;
}



/* Navigation i footeren */
.navfooter {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 40px;
}

.navfooter a {
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    color: white;
    font-family: 'Raleway';
    font-weight: 300;
    
}

/* vertikal streg mellem nav i footeren */
.border {
    border-right: 2px solid white;
}