*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

main{
    background-color: #E6DED3;
}

.main-produkt-to{
    background-color: #F4E7E7;
}

.overskrift{
    display: flex;
    justify-content: center;

    padding-top: 40px;

    font-family: 'Bodoni Moda';
    font-weight: 400;
    font-size: 30pt;
}

.ginger, .kanel{
    width: 17%;
}

.matcha, .vanilje{
    width: 13%;

    margin-top: -70px;
}


.emballage{
    z-index: 1;
    width: 22%;
}

.three-img{
    display: flex;
    justify-content: center;

    margin-top: 50px;
}

.kanel, .vanilje{
    animation: fade-right ease 1.5s;
    animation-iteration-count: 1;
    
    margin-left: 50px;
}

@keyframes fade-right {
    0% {
        scale: 0.6;
        transform: translateX(-500px);
    }
    100% {
        transform: translateX(0px);
     }
}


.ginger, .matcha{
    animation: fade-left ease 1.5s;
    animation-iteration-count: 1;

    margin-right: 50px;
}

@keyframes fade-left {
    0% {
        scale: 0.6;
        transform: translateX(500px);
    }


    100% {

        transform: translateX(0px);
     }
}


.ginger-mobil, .kanel-mobil{
    width: 35%;
    max-width: 200px;

    margin-bottom: 50px;
}

.emballage-mobil{
    width: 50%;
    max-width: 300px;
}

.div-emballage-mobil{
    display: flex;
    justify-content: center;

    margin-top: 40px;
}

.div-tegninger{
    display: flex;
    justify-content: space-evenly;
}




.kanel-mobil{
    animation: fade-right-mobil ease 1.5s;
    animation-iteration-count: 1;
    
}

@keyframes fade-right-mobil {
    0% {
        scale: 0.6;
        transform: translateX(350px);
        opacity: 0;

    }
    100% {
        transform: translateX(0px);
     }
}


.ginger-mobil{
    animation: fade-left-mobil ease 1.5s;
    animation-iteration-count: 1;

}

@keyframes fade-left-mobil {
    0% {
        scale: 0.6;
        transform: translateX(-350px);
        opacity: 0;

    }
    100% {
        transform: translateX(0px);
     }
}








.te-tekst{
    display: flex;
    justify-content: space-evenly;

    padding-bottom: 50px;
    
}

p{

    font-size: 14pt;
    font-family: 'Bodoni Moda';
}

.bio, .specs{
    width: 500px;

    margin-left: 20px;
    margin-right: 20px;
}

.bio p{
    margin-bottom: 20px;
}


.specs p{
    line-height: 50px;
}


.two-img{
    display: flex;
}

.two-img a{
    color: white;

}

.img-left, .img-right{
    display: flex;
    justify-content: center;
    align-items: center;

    background-size: cover;
    background-position: center;

    height: 400px;
    width: 50%;
}

.img-left a, .img-right a{
    font-size: 17pt;
    font-family: 'Bodoni Moda';
    text-decoration: none;

    margin-left: 20px;
    margin-right: 20px;

    text-align: center;

    display: inline-block;
    position: relative;
}
  
  .two-img div a:after {
    cursor: pointer;
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleY(0);
    height: 3px;
    bottom: -2px;
    left: 0;
    background-color: white;
    border-radius: 1px;
    transition: transform 0.25s ease-out;
  }
  
  .two-img div a:hover:after {
    transform: scaleY(1);
  }







.img-left{
    background-image: url(img-medova/tekop-blade.jpg);

}

.img-right{
    background-image: url(img-medova/temark-lille-produkt.jpg);

}




@media only screen and (max-width: 927px) {
    .three-img{
        display: flex;
        flex-wrap: wrap;
    }

    .te-tekst{
        display: flex;
        flex-wrap: wrap;
    }

    .te-tekst p{
        font-size: 11pt;
    }

    .bio{
        margin-bottom: 40px;

    }

    .two-img{
        display: flex;
        flex-direction: column;
    }

    .img-left, .img-right{
        width: 100%;
    }

    .img-left a, .img-right a{
        font-size: 14pt;
    }

    .three-img{
        display: none;
    }
    
}

@media only screen and (min-width: 927px) {
    .three-img-mobile{
        display: none;
    }
}